.optionsBlock {
    background-color: tan;
}

.optionsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgrey;
}
.hire{
    text-decoration: none;
    padding: 10px;
    background-color: darkgrey;
}