.contactsBlock {
    min-height: 100vh;
    background-color: mediumpurple;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgrey;
}