@import '../common/styles/sass/Variables';
@import '../common/styles/sass/Mixins';

.contactsBlock {
  background-color: $bgColor;
  padding-bottom: 50px;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      color: $textColor;
      font-family: $TitleFontFamily;
    }
  }

  .contactsForm {
    width: 280px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .contactsInput {
    margin-bottom: 5px;
  }

  .contactsTextarea {
    height: 100px;
  }

  .contactsSend {
    text-transform: uppercase;
    font-family: $TextFontFamily;
    color: $textColor;
    text-decoration: none;
    padding: 10px;
    background-color: $primaryColor;
    cursor: pointer;
  }
}