.contactsBlock {
    min-height: 100vh;
    background-color: mediumpurple;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgrey;
}

.contactsForm {
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contactsInput {
    margin-bottom: 5px;
}

.contactsTextarea {
    height: 100px;
}

.contactsSend {
    text-decoration: none;
    padding: 10px;
    background-color: darkgrey;
}