@import '../../common/styles/sass/Variables';
@import '../../common/styles/sass/Mixins';


.skill {
  width: 250px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .icon {
    width: 60px;
    height: 60px;
    background-color: $textColor;
  }

  .skillImage {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 1294px) {
  .skill {
    margin-bottom: 10px;
  }
}