@import '../common/styles/sass/Variables';

.worksBlock {
  background-color: $bgColor;
  padding-bottom: 50px;
  .worksContainer {
    flex-direction: column;
    justify-content: flex-start;

    .works {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;
    }
  }
}

/*@media screen and (max-width: 750px) {*/
/*    .worksContainer {*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*}*/