.worksBlock {
    background-color: #1f1f20;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    /*background-color: darkgrey;*/
    margin-bottom: 30px;
}

.title h2 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*@media screen and (max-width: 750px) {*/
/*    .worksContainer {*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*}*/