.worksBlock {
    /*min-height: 100vh;*/
    background-color: purple;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgrey;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}