.worksBlock {
    background-color: #f8f9fa;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgrey;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*@media screen and (max-width: 750px) {*/
/*    .worksContainer {*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*}*/