@import '../common/styles/sass/Variables';
@import '../common/styles/sass/Mixins';

.skillsBlock {
  background-color: $bgColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $textColor;
    font-family: $TitleFontFamily;
  }

  @media screen and (max-width: 624px) {
    .skills {
      flex-direction: column;
      align-items: center;
    }
  }
}