@import '../common/styles/sass/Variables';
@import '../common/styles/sass/Mixins';

.skillsBlock {
    background-color: $bgColor;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: $textColor;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}