@import '../common/styles/sass/Variables';
@import '../common/styles/sass/Mixins';

.footerBlock {
  background-color: $bgColor;
}

.footerContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  color: $textColor;
  font-family: $TitleFontFamily;
}

.socialContainer {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: $bgSecondColor;
}

.social {
  text-decoration: none;
  color: $textColor;
}